*.log
reptask_DB2_TO_DB2 (2).log
backend/api/__pycache__/*
*.pyc
log_analyzer.db
*.db
llm_reports/
chroma_db/chroma.sqlite3
chroma_db/*

# KB Assistant virtual environment
kb-assistant/.kb-venv/
kb-assistant/kb_page_files/
kb-assistant/kb_page_files/*/*
kb-assistant/logs/
